<div class="relative max-w-[400px] w-full h-full">
  <div
    #cardRef
    class="relative overflow-hidden will-change-transform h-full"
    (mouseenter)="hoverOn()" (mouseleave)="hoverOff()"
    (click)="toggle(); $event.stopPropagation()"
  >
    <app-flashcard-card
      [meta]="getMeta()"
      [frontPrimary]="getFrontPrimary()"
      [frontSecondary]="getFrontExampleSentence()"
      [backPrimary]="getBackPrimary()"
      [backSecondary]="getBackExampleSentence()"
      [frontLang]="getFrontLang()"
      [backLang]="getBackLang()"
      [flipped]="isFlipped()"
      [hovered]="isHovered()"
      [interactive]="true"
    />
  </div>
</div>
