<div class="relative max-w-[400px] w-full h-full">
  <div
    class="relative overflow-hidden will-change-transform z-10 h-full"
    [ngClass]="[
      getTransitionPhase() === 'leaving' && direction === 'next' ? '-translate-x-[100px] opacity-0' : '',
      getTransitionPhase() === 'leaving' && direction === 'prev' ? 'translate-x-[100px] opacity-0' : '',
      getTransitionPhase() === 'hidden' && direction === 'next' ? 'translate-x-[100px] opacity-0' : '',
      getTransitionPhase() === 'hidden' && direction === 'prev' ? '-translate-x-[100px] opacity-0' : '',
      getTransitionPhase() === 'entering' ? 'translate-x-0 opacity-100' : '',
      getTransitionPhase() === 'idle' ? 'translate-x-0 opacity-100' : ''
    ]"
    [class.transition-all]="getTransitionPhase() !== 'idle' && getTransitionPhase() !== 'hidden'"
    [class.transition-none]="getTransitionPhase() === 'hidden'"
    [class.duration-300]="getTransitionPhase() !== 'idle' && getTransitionPhase() !== 'hidden'"
    [class.ease-in-out]="getTransitionPhase() !== 'idle' && getTransitionPhase() !== 'hidden'"
    (mouseenter)="hoverOn()" (mouseleave)="hoverOff()"
    (click)="toggle(); $event.stopPropagation()"
  >
    <app-flashcard-card
      [meta]="getMeta()"
      [frontPrimary]="getFrontPrimary()"
      [frontSecondary]="getFrontExampleSentence()"
      [backPrimary]="getBackPrimary()"
      [backSecondary]="getBackExampleSentence()"
      [frontLang]="getFrontLang()"
      [backLang]="getBackLang()"
      [flipped]="isFlipped()"
      [hovered]="isHovered()"
      [interactive]="true"
    />
  </div>
</div>
