<div class="relative max-w-[400px] w-full h-full">
  <div
    class="relative overflow-hidden will-change-transform h-full transition-all duration-300 ease-in-out"
    [class.translate-x-0]="!isTransitioning"
    [class.opacity-100]="!isTransitioning"
    [class.-translate-x-full]="isTransitioning && direction === 'next'"
    [class.translate-x-full]="isTransitioning && direction === 'prev'"
    [class.opacity-0]="isTransitioning"
    (transitionend)="onTransitionEnd()"
    (mouseenter)="hoverOn()" (mouseleave)="hoverOff()"
    (click)="toggle(); $event.stopPropagation()"
  >
    <app-flashcard-card
      [meta]="getMeta()"
      [frontPrimary]="getFrontPrimary()"
      [frontSecondary]="getFrontExampleSentence()"
      [backPrimary]="getBackPrimary()"
      [backSecondary]="getBackExampleSentence()"
      [frontLang]="getFrontLang()"
      [backLang]="getBackLang()"
      [flipped]="isFlipped()"
      [hovered]="isHovered()"
      [interactive]="true"
    />
  </div>
</div>
